* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2rem 200px;
    font-family: 'Times New Roman', Times, serif;
}


/****** header ******/

.logo-img {
    width: 160px;
    border-right: 1px solid lightgray;
}


/******nav*******/

.barra-menu{
    margin-top: 30px;
}

.link {
    padding: 0.5rem ;
    text-decoration: none;
    color: rgb(231, 160, 73);
}


/****** main ******/

main {
    width: 100%;
    height: 1000px;
}

/* parte alta del main */

.box{
    position: relative;
}

.box-img {
    object-fit: cover;
    width: 100%;
    height: 474px;
    margin: 2rem 0;
    border-radius: 0.75rem;

}

.title{
    font-size: 30px;
    position: absolute;
    left: 3rem;
    bottom: 8rem;
    color: rgb(180, 143, 143);
    width: 480px;
}

.sub-title{
    font-size: 18px;
    position: absolute;
    left:3rem;
    bottom: 5rem;
    color:rgb(180, 143, 143);
    width: 500px;
}



/* /.parte alta del main */



.grid-top {
    width: 100%;
    height: 80px;
    background-color: darkgoldenrod;
    margin-bottom: 1rem;
}

.grid-mid {
    margin-bottom: 1rem;
}

.grid-mid::after {
    content: "";
    display: table;
    clear: both;
}

.grid-left {
    float: left;
    width: 255px;
    height: 450px;
    background-color: indigo;
}

.grid-center {
    float: left;
    width: 585px;
    height: 450px;
    background-color: firebrick;
    margin: 0 0.75rem;
}

.grid-right {
    background-color: darkgreen;
    width: 255px;
    height: 450px;
    float: left;
}


/******* footer ******/

footer {
    width: 100%;
    height: 60px;
    background-color: brown;
}




